<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>crowdsource</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.2/css/materialize.min.css">
    <link rel="stylesheet" href="/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.2/js/materialize.min.js"></script>
  </head>
  <body>
    <% include ./partials/navbar %>
    <div class="container">
      <br>
      <div class="row">
        <div class="col m8 offset-m2">
          <div class="row center">
            <h3><%= poll.question %></h3><br>
            <% if(poll.endTime) { %>
              <h5>poll will end: <%= poll.endTime %></h5>
            <% } %>
            <% if( poll.voteCount ) { %>
              <div id="current-tally">
                Vote Results:
                <% for (var vote in poll.voteCount) { %>
                  <%= vote + ": " + poll.voteCount[vote] + " " %>
                <% }; %>
              </div>
            <% } else { %>
              <div id="no-votes">There are currently no votes for your survey.  Check back soon!</div>
            <% } %>
            <div><h5><a href='/poll/<%= poll.id %>'>share your poll with more friends</a></h5></div>
            <% if( poll.status === "on" ) { %>
              <div id="close-poll"><button id="close-button" class="btn indigo">End Poll Now</button></div>
            <% } %>
          </div>
        </div>
      </div>
    </div>
    <% include ./partials/scripts %>
  </body>
</html>
