<!doctype html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <% include ./partials/navbar %>
    <div class="container">
      <h1 class="center">crowdsource</h1>
      <div class="row">
        <div class="col m8 offset-m2">
          <div class="row center">
              <form id="new-poll" method="post" action="/">
                <div id="new-form-input">
                  <div>
                    <input type="text" placeholder="question" name="poll[question]">
                  </div>
                  <div>
                    <input type="text" placeholder="enter option" class="poll-response" name="poll[responses][]">
                  </div>
                  <div>
                    <input type="text" placeholder="enter option" class="poll-response" name="poll[responses][]">
                  </div>
                  <br>
                </div>
                <div>
                <div>
                  <input type="text" placeholder="poll end time formatted as below" class="poll-response" name="poll[endTime]"><br>
                  <h6>(YYYY-MM-DD HH:mm)</h6><br>
                </div>
                <div>
                  <input type="hidden" value="on" name="poll[status]">
                </div>
                <div>
                  <input type="checkbox" id="results-show" name="poll[visible]">
                  <label for="results-show">Show the poll results with the poll takers</label>
                </div>
                <br>
                <input type="button" class="btn" value="Add another variable" onClick="addInput('new-form-input')">
                <input type="submit" class="btn" id="submit-poll">
              </form>
            </div>
          </div>
      </div>
    </div>
    <% include ./partials/scripts %>
  </body>
</html>
