<!doctype html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <% include ./partials/navbar %>
    <div class="container">
      <br>
      <div class="row">
        <div class="col m4 offset-m4 center">
          <h4 id="links">links</h4>
        </div>
      </div>
      <div class="row">
        <div class="col m8 offset-m2">
          <div class="row center link-page">
            <div><h3><a href='/<%= poll.adminUrl %>/<%= poll.id %>'>Admin URL</a></h3></div>
            <div><h3><a href='/poll/<%= poll.id %>'>Poll URL</a></h3></div>
          </div>
        </div>
      </div>
    </div>
    <% include ./partials/scripts %>
  </body>
</html>
